#titulo {
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: #000000;
    font-weight: 200;
    background-color: #F2C91B;
    box-shadow: 10px 10px 5px #F58D05;
}

#menu {
    margin-top: -4rem;
    margin-left: -1rem;
    display: flex;
    gap: 1px;
    justify-content: left;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

a {
    color: #F2C91B;
}

#tecnologia {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

#juguetes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

#hogar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.galeria {
    margin-left: -1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

figure {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: #808080;
    box-shadow: 0px 10px 5px #F2C91B;
}